<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" 
        
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:appframe="http://www.appframe.com/schema/appframe"        
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">


  <!-- Web service -->


  <!-- START : SECURITY CONFIG -->
  <!-- Global Message -->  

  <!-- Logic Objects -->  
  <!-- Controller Objects -->  
  <!-- View Objects -->  
  <!-- END : SECURITY CONFIG -->     

  
  <!-- START: RESOURCE FILE -->
  
  <!-- END: RESOURCE FILE -->
  <!-- START : Authentication Module -->  
  
  
  <!-- END : Authentication Module -->  
</objects>
