<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Enteprise Library Config -->
    <!-- Spring section config -->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System"/>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>    
  </configSections>
  <!-- Spring Configuration  -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="INFO" />
      </factoryAdapter>
      <!-- <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/log4net.config"/>
      </factoryAdapter> -->
    </logging> 
  </common>
  <nhibernate>
    <!-- with this set to true, SQL statements 
         will output to the console window if it's a console app -->
    <!--<add key="hibernate.show_sql" value="true" />-->
  </nhibernate>
  <connectionStrings>    
  </connectionStrings>
  <spring>
    <parsers>      
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="assembly://AppFrameDemo/AppFrameDemo.Config/Presenter.xml"/>      
    </context>
  </spring>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">      
    </assemblyBinding>
  </runtime>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>      
</configuration>
